<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>carRental_back</display-name>
  <welcome-file-list>
    <welcome-file>back/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletConfigurator</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.clm.filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SysstemSetFilter</display-name>
    <filter-name>SysstemSetFilter</filter-name>
    <filter-class>cn.clm.filters.SysstemSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SysstemSetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>addCarMarkServlet</servlet-name>
    <servlet-class>cn.clm.servlets.addCarMarkServlet</servlet-class>
    <init-param>
      <param-name>image</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCarMarkServlet</servlet-name>
    <url-pattern>/addCarMarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryCarByImgServlet</servlet-name>
    <servlet-class>cn.clm.servlets.queryCarByImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryCarByImgServlet</servlet-name>
    <url-pattern>/queryCarByImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCarTypeServlet</servlet-name>
    <servlet-class>cn.clm.servlets.addCarTypeServlet</servlet-class>
    <init-param>
      <param-name>image</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCarTypeServlet</servlet-name>
    <url-pattern>/addCarTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateSystemSetServlet</servlet-name>
    <servlet-class>cn.clm.servlets.updateSystemSetServlet</servlet-class>
    <init-param>
      <param-name>logo</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
    <init-param>
      <param-name>xcVideo</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSystemSetServlet</servlet-name>
    <url-pattern>/updateSystemSetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCarServlet</servlet-name>
    <servlet-class>cn.clm.servlets.addCarServlet</servlet-class>
    <init-param>
      <param-name>image1</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
    <init-param>
      <param-name>image2</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
    <init-param>
      <param-name>image3</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
    <init-param>
      <param-name>image4</param-name>
      <param-value>G:\javaee_workspace\apache-tomcat-8.0.24\webapps\car_img</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCarServlet</servlet-name>
    <url-pattern>/addCarServlet</url-pattern>
  </servlet-mapping>
</web-app>